#answer-1, #answer-2 ,#answer-3 , #answer-4{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    width: 100px;
    background-color: lightsalmon;
    margin-top: 5px;
}
.correct{
    background-color: green !important;
}
